body {
    margin: auto;
    width: 50%;
    font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

img {
    width: 30em;
}

header {
    text-align: center;
    background-color: #D6D6DE;
    padding: 1%;
    
    margin-top: 1em;
}

h1 {
    margin-bottom: 0;
    font-size: xxx-large;
}

h3 {
    margin-top: 0;
    font-weight: 500;
}